<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.core.expressions.propertyTesters">
		<propertyTester
			id="org.eclipse.codewind.openapi.ui.util.OpenApiToolsPropertyTester"
			type="org.eclipse.core.resources.IProject"
			namespace="org.eclipse.codewind.openapi.ui"
			properties="validSelection,isImported"
			class="org.eclipse.codewind.openapi.ui.util.OpenApiToolsPropertyTester">
		</propertyTester>
		<propertyTester
			id="org.eclipse.codewind.openapi.ui.OpenApiToolsPropertyTesterCodewinApp"
			type="org.eclipse.codewind.core.internal.CodewindApplication"
			namespace="org.eclipse.codewind.openapi.ui"
			properties="isImported"
			class="org.eclipse.codewind.openapi.ui.util.OpenApiToolsPropertyTester">
		</propertyTester>
	</extension>

	<extension point="org.eclipse.ui.commands">
		<category
			id="org.eclipse.codewind.openapi.ui.commands.category"
			name="%OPENAPI_TOOLS">
		</category>
		<command
			categoryId="org.eclipse.codewind.openapi.ui.commands.category"
			name="%CLIENT_API_STUB"
			id="org.eclipse.codewind.openapi.ui.commands.clientCommand">
		</command>
		<command
			categoryId="org.eclipse.codewind.openapi.ui.commands.category"
			name="%SERVER_API_STUB"
			id="org.eclipse.codewind.openapi.ui.commands.serverCommand">
		</command>
		<command
			categoryId="org.eclipse.codewind.openapi.ui.commands.category"
			name="%HTML_DOCUMENTATION"
			id="org.eclipse.codewind.openapi.ui.commands.htmlCommand">
		</command>
	</extension>

	<extension point="org.eclipse.ui.handlers">
		<handler
			class="org.eclipse.codewind.openapi.ui.handlers.GenerateClientCommandHandler"
			commandId="org.eclipse.codewind.openapi.ui.commands.clientCommand">
			<enabledWhen>
				<with variable="activeMenuSelection">
					<count value="1" />
					<or>
						<iterate>
							<adapt type="org.eclipse.codewind.core.internal.CodewindApplication">
								<test forcePluginActivation="true" property="org.eclipse.codewind.openapi.ui.isImported" value="true"/>
							</adapt>
						</iterate>
						<iterate>
							<adapt type="org.eclipse.core.resources.IProject">
								<test forcePluginActivation="true" property="org.eclipse.codewind.openapi.ui.isImported" value="true"/>
							</adapt>
						</iterate>
						<iterate>
							<adapt type="org.eclipse.core.resources.IFile">
								<or>
									<test property="org.eclipse.core.resources.contentTypeId" value="org.eclipse.codewind.openapi.core.openApiDocumentYaml"/>
									<test property="org.eclipse.core.resources.contentTypeId" value="org.eclipse.codewind.openapi.core.openApiDocumentJson"/>
								</or>
							</adapt>
						</iterate>
					</or>
				</with>
			</enabledWhen>
		</handler>
		<handler
			class="org.eclipse.codewind.openapi.ui.handlers.GenerateServerCommandHandler"
			commandId="org.eclipse.codewind.openapi.ui.commands.serverCommand">
			<enabledWhen>
				<with variable="activeMenuSelection">
					<count value="1" />
					<or>
						<iterate>
							<adapt type="org.eclipse.codewind.core.internal.CodewindApplication">
								<test forcePluginActivation="true" property="org.eclipse.codewind.openapi.ui.isImported" value="true"/>
							</adapt>
						</iterate>
						<iterate>
							<adapt type="org.eclipse.core.resources.IProject">
								<test forcePluginActivation="true" property="org.eclipse.codewind.openapi.ui.isImported" value="true"/>
							</adapt>
						</iterate>
						<iterate>
							<adapt type="org.eclipse.core.resources.IFile">
								<or>
									<test property="org.eclipse.core.resources.contentTypeId" value="org.eclipse.codewind.openapi.core.openApiDocumentYaml"/>
									<test property="org.eclipse.core.resources.contentTypeId" value="org.eclipse.codewind.openapi.core.openApiDocumentJson"/>
								</or>
							</adapt>
						</iterate>
					</or>
				</with>
			</enabledWhen>
		</handler>
		<handler
			class="org.eclipse.codewind.openapi.ui.handlers.GenerateHtmlCommandHandler"
			commandId="org.eclipse.codewind.openapi.ui.commands.htmlCommand">
			<enabledWhen>
				<with variable="activeMenuSelection">
					<count value="1" />
					<or>
						<iterate>
							<adapt type="org.eclipse.codewind.core.internal.CodewindApplication">
								<test forcePluginActivation="true" property="org.eclipse.codewind.openapi.ui.isImported" value="true"/>
							</adapt>
						</iterate>
						<iterate>
							<adapt type="org.eclipse.core.resources.IProject">
								<test forcePluginActivation="true" property="org.eclipse.codewind.openapi.ui.isImported" value="true"/>
							</adapt>
						</iterate>
						<iterate>
							<adapt type="org.eclipse.core.resources.IFile">
								<test property="org.eclipse.core.resources.contentTypeId" value="org.eclipse.codewind.openapi.core.openApiDocumentYaml"/>
							</adapt>
						</iterate>
						<iterate>
							<adapt type="org.eclipse.core.resources.IFile">
								<test property="org.eclipse.core.resources.contentTypeId" value="org.eclipse.codewind.openapi.core.openApiDocumentJson"/>
							</adapt>
						</iterate>
					</or>
				</with>
			</enabledWhen>
		</handler>
	</extension>

	<extension point="org.eclipse.ui.bindings">
		<key
			commandId="org.eclipse.codewind.openapi.ui.commands.clientCommand"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.ui.contexts.window"
			sequence="M1+1">
		</key>
		<key
			commandId="org.eclipse.codewind.openapi.ui.commands.serverCommand"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.ui.contexts.window"
			sequence="M1+2">
		</key>
		<key
			commandId="org.eclipse.codewind.openapi.ui.commands.htmlCommand"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.ui.contexts.window"
			sequence="M1+4">
		</key>
	</extension>

	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:org.eclipse.codewind.ui.explorerView?before=additions">
			<separator
				visible="true">
			</separator>
			<menu
				id="org.eclipse.codewind.openapi.ui.codewindExplorerViewMenu"
				label="%OPENAPI_MENU_GROUP">
				<command
					id="org.eclipse.codewind.openapi.ui.codewindExplorerView.clientCommand"
					commandId="org.eclipse.codewind.openapi.ui.commands.clientCommand"
					tooltip="%CREATE_CLIENT_DESCRIPTION">
					<visibleWhen>
						<with variable="selection">
							<count value="1" />
							<iterate>
								<adapt type="org.eclipse.codewind.core.internal.CodewindApplication">
								</adapt>
							</iterate>
						</with>
					</visibleWhen>
				</command>
				<command
					id="org.eclipse.codewind.openapi.ui.codewindExplorerView.serverCommand"
					commandId="org.eclipse.codewind.openapi.ui.commands.serverCommand"
					tooltip="%CREATE_SERVER_DESCRIPTION">
					<visibleWhen>
						<with variable="selection">
							<count value="1" />
							<iterate>
								<adapt type="org.eclipse.codewind.core.internal.CodewindApplication">
								</adapt>
							</iterate>
						</with>
					</visibleWhen>
				</command>
				<command
					id="org.eclipse.codewind.openapi.ui.codewindExplorerView.htmlCommand"
					commandId="org.eclipse.codewind.openapi.ui.commands.htmlCommand"
					tooltip="%CREATE_HTML_DESCRIPTION">
					<visibleWhen>
						<with variable="selection">
							<count value="1" />
							<iterate>
								<adapt type="org.eclipse.codewind.core.internal.CodewindApplication">
								</adapt>
							</iterate>
						</with>
					</visibleWhen>
				</command>
			</menu>
		</menuContribution>
		<menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=additions">
			<menu
				id="org.eclipse.codewind.openapi.ui.packageExplorerMenu"
				label="%OPENAPI_MENU_GROUP">
				<command
					id="org.eclipse.codewind.openapi.ui.packageExplorer.clientCommandOnProject"
					commandId="org.eclipse.codewind.openapi.ui.commands.clientCommand"
					tooltip="%CREATE_CLIENT_DESCRIPTION">
					<visibleWhen>
						<with variable="activeMenuSelection">
							<count value="1" />
							<iterate>
								<adapt type="org.eclipse.core.resources.IProject">
									<test forcePluginActivation="true" property="org.eclipse.codewind.openapi.ui.validSelection" value="true"/>
								</adapt>
							</iterate>
						</with>
					</visibleWhen>
				</command>
				<command
					id="org.eclipse.codewind.openapi.ui.packageExplorer.clientCommandOnFile"
					commandId="org.eclipse.codewind.openapi.ui.commands.clientCommand"
					tooltip="%CREATE_CLIENT_DESCRIPTION">
					<visibleWhen>
						<with variable="activeMenuSelection">
							<count value="1" />
							<or>
								<iterate>
									<adapt type="org.eclipse.core.resources.IFile">
										<test property="org.eclipse.core.resources.contentTypeId" value="org.eclipse.codewind.openapi.core.openApiDocumentYaml"/>
									</adapt>
								</iterate>
								<iterate>
									<adapt type="org.eclipse.core.resources.IFile">
										<test property="org.eclipse.core.resources.contentTypeId" value="org.eclipse.codewind.openapi.core.openApiDocumentJson"/>
									</adapt>
								</iterate>
							</or>
						</with>
					</visibleWhen>
				</command>
				<command
					id="org.eclipse.codewind.openapi.ui.packageExplorer.serverCommandOnProject"
					commandId="org.eclipse.codewind.openapi.ui.commands.serverCommand"
					tooltip="%CREATE_SERVER_DESCRIPTION">
					<visibleWhen>
						<with variable="activeMenuSelection">
							<count value="1" />
							<iterate>
								<adapt type="org.eclipse.core.resources.IProject">
									<test forcePluginActivation="true" property="org.eclipse.codewind.openapi.ui.validSelection" value="true"/>
								</adapt>
							</iterate>
						</with>
					</visibleWhen>
				</command>
				<command
					id="org.eclipse.codewind.openapi.ui.packageExplorer.serverCommandOnFile"
					commandId="org.eclipse.codewind.openapi.ui.commands.serverCommand"
					tooltip="%CREATE_SERVER_DESCRIPTION">
					<visibleWhen>
						<with variable="activeMenuSelection">
							<count value="1" />
							<or>
								<iterate>
									<adapt type="org.eclipse.core.resources.IFile">
										<test property="org.eclipse.core.resources.contentTypeId" value="org.eclipse.codewind.openapi.core.openApiDocumentYaml"/>
									</adapt>
								</iterate>
								<iterate>
									<adapt type="org.eclipse.core.resources.IFile">
										<test property="org.eclipse.core.resources.contentTypeId" value="org.eclipse.codewind.openapi.core.openApiDocumentJson"/>
									</adapt>
								</iterate>

							</or>
						</with>
					</visibleWhen>
				</command>

				<command
					id="org.eclipse.codewind.openapi.ui.packageExplorer.htmlCommandOnProject"
					commandId="org.eclipse.codewind.openapi.ui.commands.htmlCommand"
					tooltip="%CREATE_HTML_DESCRIPTION">
					<visibleWhen>
						<with variable="activeMenuSelection">
							<count value="1" />
							<iterate>
								<adapt type="org.eclipse.core.resources.IProject">
									<test forcePluginActivation="true" property="org.eclipse.codewind.openapi.ui.validSelection" value="true"/>
								</adapt>
							</iterate>
						</with>
					</visibleWhen>
				</command>
				<command
					id="org.eclipse.codewind.openapi.ui.packageExplorer.htmlCommandOnFile"
					commandId="org.eclipse.codewind.openapi.ui.commands.htmlCommand"
					tooltip="%CREATE_HTML_DESCRIPTION">
					<visibleWhen>
						<with variable="activeMenuSelection">
							<count value="1" />
							<iterate>
								<or>
									<adapt type="org.eclipse.core.resources.IFile">
										<test property="org.eclipse.core.resources.contentTypeId" value="org.eclipse.codewind.openapi.core.openApiDocumentYaml"/>
									</adapt>
									<adapt type="org.eclipse.core.resources.IFile">
										<test property="org.eclipse.core.resources.contentTypeId" value="org.eclipse.codewind.openapi.core.openApiDocumentJson"/>
									</adapt>
								</or>
							</iterate>
						</with>
					</visibleWhen>
				</command>
			</menu>
		</menuContribution>
		<menuContribution locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
			<menu
				id="org.eclipse.codewind.openapi.ui.projectExplorerMenu"
				label="%OPENAPI_MENU_GROUP">
				<command
					id="org.eclipse.codewind.openapi.ui.projectExplorer.clientCommandOnProject"
					commandId="org.eclipse.codewind.openapi.ui.commands.clientCommand"
					tooltip="%CREATE_CLIENT_DESCRIPTION">
					<visibleWhen>
						<with variable="activeMenuSelection">
							<count value="1" />
							<iterate>
								<adapt type="org.eclipse.core.resources.IProject">
									<test forcePluginActivation="true" property="org.eclipse.codewind.openapi.ui.validSelection" value="true"/>
								</adapt>
							</iterate>
						</with>
					</visibleWhen>
				</command>
				<command
					id="org.eclipse.codewind.openapi.ui.projectExplorer.clientCommandOnFile"
					commandId="org.eclipse.codewind.openapi.ui.commands.clientCommand"
					tooltip="%CREATE_CLIENT_DESCRIPTION">
					<visibleWhen>
						<with variable="activeMenuSelection">
							<count value="1" />
							<or>
								<iterate>
									<adapt type="org.eclipse.core.resources.IFile">
										<test property="org.eclipse.core.resources.contentTypeId" value="org.eclipse.codewind.openapi.core.openApiDocumentYaml"/>
									</adapt>
								</iterate>
								<iterate>
									<adapt type="org.eclipse.core.resources.IFile">
										<test property="org.eclipse.core.resources.contentTypeId" value="org.eclipse.codewind.openapi.core.openApiDocumentJson"/>
									</adapt>
								</iterate>
							</or>
						</with>
					</visibleWhen>
				</command>
				<command
					id="org.eclipse.codewind.openapi.ui.projectExplorer.serverCommandOnProject"
					commandId="org.eclipse.codewind.openapi.ui.commands.serverCommand"
					tooltip="%CREATE_SERVER_DESCRIPTION">
					<visibleWhen>
						<with variable="activeMenuSelection">
							<count value="1" />
							<iterate>
								<adapt type="org.eclipse.core.resources.IProject">
									<test forcePluginActivation="true" property="org.eclipse.codewind.openapi.ui.validSelection" value="true"/>
								</adapt>
							</iterate>
						</with>
					</visibleWhen>
				</command>
				<command
					id="org.eclipse.codewind.openapi.ui.projectExplorer.serverCommandOnFile"
					commandId="org.eclipse.codewind.openapi.ui.commands.serverCommand"
					tooltip="%CREATE_SERVER_DESCRIPTION">
					<visibleWhen>
						<with variable="activeMenuSelection">
							<count value="1" />
							<or>
								<iterate>
									<adapt type="org.eclipse.core.resources.IFile">
										<test property="org.eclipse.core.resources.contentTypeId" value="org.eclipse.codewind.openapi.core.openApiDocumentYaml"/>
									</adapt>
								</iterate>
								<iterate>
									<adapt type="org.eclipse.core.resources.IFile">
										<test property="org.eclipse.core.resources.contentTypeId" value="org.eclipse.codewind.openapi.core.openApiDocumentJson"/>
									</adapt>
								</iterate>
							</or>
						</with>
					</visibleWhen>
				</command>
				<command
					id="org.eclipse.codewind.openapi.ui.projectExplorer.htmlCommandOnProject"
					commandId="org.eclipse.codewind.openapi.ui.commands.htmlCommand"
					tooltip="%CREATE_HTML_DESCRIPTION">
					<visibleWhen>
						<with variable="activeMenuSelection">
							<count value="1" />
							<iterate>
								<adapt type="org.eclipse.core.resources.IProject">
									<test forcePluginActivation="true" property="org.eclipse.codewind.openapi.ui.validSelection" value="true"/>
								</adapt>
							</iterate>
						</with>
					</visibleWhen>
				</command>
				<command
					id="org.eclipse.codewind.openapi.ui.projectExplorer.htmlCommandOnFile"
					commandId="org.eclipse.codewind.openapi.ui.commands.htmlCommand"
					tooltip="%CREATE_HTML_DESCRIPTION">
					<visibleWhen>
						<with variable="activeMenuSelection">
							<count value="1" />
							<or>
								<iterate>
									<adapt type="org.eclipse.core.resources.IFile">
										<test property="org.eclipse.core.resources.contentTypeId" value="org.eclipse.codewind.openapi.core.openApiDocumentYaml"/>
									</adapt>
								</iterate>
								<iterate>
									<adapt type="org.eclipse.core.resources.IFile">
										<test property="org.eclipse.core.resources.contentTypeId" value="org.eclipse.codewind.openapi.core.openApiDocumentJson"/>
									</adapt>
								</iterate>
							</or>
						</with>
					</visibleWhen>
				</command>
			</menu>
		</menuContribution>
	</extension>
<!-- TODO
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            id="org.eclipse.codewind.openapi.ui.wizard.GenerateClientWizard"
            name="%CLIENT_API_STUB"
            class="org.eclipse.codewind.openapi.ui.wizard.GenerateClientWizard"
            category="org.eclipse.codewind.ui.new">
            <description>%CREATE_CLIENT_DESCRIPTION</description>
			<selection
            	class="org.eclipse.core.resources.IProject">
        	</selection>
      </wizard>
   </extension> -->

	<extension point="org.eclipse.ui.commandImages">
		<image
			commandId="org.eclipse.codewind.openapi.ui.commands.clientCommand"
			hoverIcon="icons/obj16/monitorOn.gif"
			disabledIcon="icons/obj16/monitorOff.gif"
			icon="icons/obj16/monitorOn.gif" />
		<image
			commandId="org.eclipse.codewind.openapi.ui.commands.serverCommand"
			hoverIcon="icons/etool16/server_generate.gif"
			disabledIcon="icons/dtool16/server_generate.gif"
			icon="icons/etool16/server_generate.gif" />
		<image
			commandId="org.eclipse.codewind.openapi.ui.commands.htmlCommand"
			hoverIcon="icons/etool16/html_generate.gif"
			disabledIcon="icons/dtool16/html_generate.gif"
			icon="icons/etool16/html_generate.gif" />
	</extension>

	<extension point="org.eclipse.ui.decorators" id="org.eclipse.codewind.openapi.ui.decorators" name="OpenAPI decorators">
        <decorator
            id="org.eclipse.codewind.openapi.ui.decorator" 
            label="%DECORATOR"
            state="true"
            class="org.eclipse.codewind.openapi.ui.CustomLabelDecorator" 
            lightweight="false">
            <description>%DECORATOR_DESCRIPTION</description>
            <enablement>
                <objectClass name="org.eclipse.core.resources.IFile"/>
            </enablement>
        </decorator>
	</extension>
</plugin>

